<html>
	<head>
		#include("./report.css")
	</head>
	<table>
		<tr>
			<td rowspan="4">Area</td>
			<td rowspan="2">Region 1</td>
			<td>Glasgow</td>
			<td>33</td>
		</tr>
		<tr>
			<td>Edinburgh</td>
			<td>33</td>
		</tr>
		<tr>
			<td rowspan="2">Region 2</td>
			<td>Aberdeen</td>
			<td>33</td>
		</tr>
	
		<tr>
			<td>Inverness</td>
			<td>33</td>
		</tr>
	</table>
</html>